$main-color: #FFFFFF;
$primary-color: #134e4a;
$primary-color2: #076AE1;
$second-color: #F7FAFC;
$third-color: #DEE2E7;
$fourth-color: #f0fdfa;
$fifth-color: #FFE3E3;
$sixth-color: #EB001B;
$seventh-color: #EFF2F4;
$eight-color: #F7F7F7;
$ninth-color: #00B517;
$tenth-color: #dddddd;
$eleven-color: #FF9017;
$twelve-color: rgba(192, 75, 75, 1);
$thirteen-color: #A50064;
$fouthteen-color: #0d9488;
$star-color: #FFD700;
$star-color2: #FFED85;


$text-color: #8B96A5;
$text-color2: #505050;
$text-color3: #F2F2F2;

$main-margin: 0px 8.125em;

$second-margin: 0px 16.25em; 


  